
/*BLUE BACKGROUND*/
#header-bg {
    background-color: #381c8d;
    min-height: 738px;
    width: 100%;
}

#band-bg {
    background-color: #381c8d;
    min-height: 700px;
    width: 100%;
}
#footer-bg {
    background-color: #381c8d;
    min-height: 350px;
    width: 100%;
}


#h1
{
  font-family: 'Oxygen', sans-serif !important;
  font-size: 60px !important;
}



.headline {
	font-family: 'Oxygen', sans-serif;
  	position: relative;
  	position: relative;
  	font-weight: 200 !important; 
}

.headline:after {
	content:' ';
	position: absolute;
	top:120%;
	left:0%;
	width: 40px;
	border:1px solid #381c8d;
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}


/*Hover image*/

.img-hover {
  width: 200px;
  height: 200px;
  border-style: none;
  margin-right: auto;
  margin-left: auto;
}

.img-hover:hover {
  border-style: none;
}

#img-hover-1 {
  background-image: url('images/icones/responsive.png');
}

#img-hover-1:hover {
  background-image: url('images/icones/responsive-gray.png');
}

#img-hover-2 {
  background-image: url('images/icones/coding.png');
}

#img-hover-2:hover {
  background-image: url('images/icones/coding-gray.png');
}

#img-hover-3 {
  background-image: url('images/icones/padlock.png');
}

#img-hover-3:hover {
  background-image: url('images/icones/padlock-gray.png');
}
